<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table{
            width:100%;
            height:50px;
        }
      table,th,tr,td{
            border-collapse:collapse;
            padding-left:10px
        } 
    </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <span style="display: flex; align-items: center;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtx3OV3LK3aGRrEXRUS2qpaw2coJ5NkdUViJzae2THzbs8wV6sRTnu0QbQ-FCppSy31_k&usqp=CAU" alt="Logo" style="width: 60px; height: 58px; border: 2px solid rgb(200, 95, 112);">
      <p style="margin-left: 2px; margin-top: 0px; margin-bottom: 0px; padding: 20px; background-color: rgb(200, 95, 112); text-align: center; font-size: larger; font-weight: 900; color: white;width:100%">BUILD YOUR TRIP</p>
    </span>
  
    <h3 style="background-color: whitesmoke; padding: 15px; margin-top: 0px; margin-bottom: 0px; text-align: center; color: green;">
      
        {% comment %} Pack your bags - your trip to {{ address }} starts on {{ start_date }}. {% endcomment %}
    </h3>
  
    {% comment %} <div style="padding: 3px; background-color: whitesmoke;">
      <i>The Journey of a thousand miles begins with a single step</i>
    </div> {% endcomment %}
  
    <div style="padding: 15px; padding-top: 0px; background-color: whitesmoke;">
      <div style="padding: 1px;">
        <h2 style='text-align:center; color:green'>Trip Budget Spents</h2>
        <div style=" border:2px solid pink">
        <table style:"text-align:Start border:1px solid pink ">
            
            <tr style='border:1px solid pink ' >
                <tr>
                <th >
                      Total Budget 
                    </th>
                <td >
                   {{ total_budget }}
                </td>
            </tr>
            <tr >
                <th >Total Average</th>
                <td >
                    <div>
                              {{total_average}}
                  </div>
            </td>
            </tr>
            </tr>
            
        </table>
    {% comment %} </br> {% endcomment %}
        <table style:"text-align:Start border:1px solid pink ">
            <tr style='border:1px solid pink '>
        <tr ><th>Total Contributions</th></tr>
        <tr >
            {% for email, contribution in total_contributions.items %}
            <tr >
              <td>{{ email }}</td>
              <td>{{ contribution }}</td>
            </tr>
            {% endfor %}
        </tr>
    </tr>
    </table>
    {% comment %} </br> {% endcomment %}

    <table style:"text-align:Start border:1px solid pink ">
        <tr style='border:1px solid pink '>
        <tr ><th>Total Differences</th></tr>
            <tr >
                {% for email, difference in total_differences.items %}

                <tr>
                  <td>{{ email }}</td>
                  <td>{{ difference }}</td>
                </tr>
                {% endfor %}
            </tr>
            
        </tr>
        </table>
   
      </div>
    </div>
  
    <div style="padding: 3px; background-color: whitesmoke;">
      <i>The Journey of a thousand miles begins with a single step</i>
    </div>
  
    <div style="padding: 10px; background-color: red; color: white; text-align: center;">
      &copy; 2023 BUILD YOUR TRIP. All Rights Reserved.
    </div>
  </div>
</body>
</html>
