<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table{
            width:100%;
            height:50px;
        }
        table,th,tr,td{
            border-collapse:collapse;
            padding-left:10px
        }
    </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <span style="display: flex; align-items: center;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtx3OV3LK3aGRrEXRUS2qpaw2coJ5NkdUViJzae2THzbs8wV6sRTnu0QbQ-FCppSy31_k&usqp=CAU" alt="Logo" style="width: 60px; height: 58px; border: 2px solid rgb(200, 95, 112);">
      <p style="margin-left: 2px; margin-top: 0px; margin-bottom: 0px; padding: 20px; background-color: rgb(200, 95, 112); text-align: center; font-size: larger; font-weight: 900; color: white;width:100%">BUILD YOUR TRIP</p>
    </span>
  
    <h3 style="background-color: whitesmoke; padding: 15px; margin-top: 0px; margin-bottom: 0px; text-align: center; color: green;">
      Pack your bags - your trip to {{ address }} starts on {{ start_date }}.
    </h3>
  
    {% comment %} <div style="padding: 3px; background-color: whitesmoke;">
      <i>The Journey of a thousand miles begins with a single step</i>
    </div> {% endcomment %}
  
    <div style="padding: 15px; padding-top: 0px; background-color: whitesmoke;">
      <div style="padding: 1px;">
        <table style:"text-align:Start">
            
            <tr >
                <th style='border:1px solid red '>
                      Trip Name: <span></span>
                    </th>
                <td style='border:1px solid red '>
                   <h4> {{ trip_name }}</h4>
                </td>
            </tr><tr >
                <th style='border:1px solid red '>Emails:</th>
                <td style='border:1px solid red '><div>
          
                    {% for email2 in email %}
                      <h4><span>{{ email2 }}</span></h4>
                    {% empty %}
                      <p>No trip members found</p>
                    {% endfor %}
                  </div>
            </td>
            </tr><tr>
                <th style='border:1px solid red '>Start Date:</th>
                <td style='border:1px solid red '>

                
          <h4> <span>{{ start_date }}</span></h4>

                </td>
            </tr><tr>
                <th style='border:1px solid red '>End Date:</th>
          <td style='border:1px solid red '>
            <h4> <span>{{ end_date }}</span></h4>

          </td>
            </tr>
            <tr>
                <th style='border:1px solid red '>Visiting Place:</th>
            <td style='border:1px solid red '>
                <h4><span>{{ address }}</span></h4>
            </td>
        </tr>

        </table>
      </div>
    </div>
  
    <div style="padding: 3px; background-color: whitesmoke;">
      <i>The Journey of a thousand miles begins with a single step</i>
    </div>
  
    <div style="padding: 10px; background-color: red; color: white; text-align: center;">
      &copy; 2023 BUILD YOUR TRIP. All Rights Reserved.
    </div>
  </div>
</body>
</html>
